@using MekToolsReduxCore.Modules.ModulePreviews.Models
@using MekToolsReduxCore.Modules.ModulePreviews.Services
@using MekToolsReduxComponents.Modules.Main.Models
@using MekToolsReduxCore.Modules.ModuleGenerators.Services
@using MekToolsReduxComponents.Modules.Main.Mappings
@inherits LayoutComponentBase
@page "/main-page/{*pageRoute}"

<div class="bg-green-200 flex-column pb-10">
  <AppBar/>

  <div class="flex justify-center mt-10">
    <div class="w-2/3">
      <CurrentModuleDataCard
        EntitySingularName="@EntitySingularName"
        EntityPluralName="@EntityPluralName"
        DestinationPath="@DestinationPath"/>
    </div>
  </div>

  <div class="flex justify-center mt-10">
    <div class="w-2/3">
      <Card Title="Additional settings">
        <AdditionalSettingsForm
          Model="@AdditionalSettingsFormModel"
          OnAdditionalSettingsChange="@OnAdditionalSettingsChange"/>
      </Card>
    </div>
  </div>

  <div class="flex justify-center mt-10">
    <div class="w-2/3">
      <Card Title="Preview">
        <FileTreePreview ModulePreviewModel="ModulePreviewModel"/>

        <div class="flex flex-row-reverse mt-10">
          <MekButton Text="Genera" Type="Button" OnClick="@GenerateModule"/>
        </div>
      </Card>
    </div>
  </div>

</div>

@code {
  [Parameter] public string? PageRoute { get; set; }

  private string EntitySingularName { get; set; } = null!;

  private string EntityPluralName { get; set; } = null!;

  private string DestinationPath { get; set; } = null!;

  private ModulePreviewModel ModulePreviewModel { get; set; } = null!;

  private AdditionalSettingsFormModel AdditionalSettingsFormModel { get; set; } = null!;

  protected override void OnInitialized()
  {
    AdditionalSettingsFormModel = new AdditionalSettingsFormModel();

    var parameters = PageRoute?.Split("/") ?? new string[] { };

    if (parameters.Length == 3)
    {
      EntitySingularName = parameters[0];
      EntityPluralName = parameters[1];
      DestinationPath = parameters[2].Replace("@", "\\");

      GenerateModulePreview();
    }
    else
    {
      // TODO: manage errors
      // ERROR
    }

    base.OnInitialized();
  }

  private void GenerateModule()
  {
    ModuleGeneratorService.GenerateModule(DestinationPath, ModulePreviewModel);
  }

  private void OnAdditionalSettingsChange(AdditionalSettingsFormModel model)
  {
    AdditionalSettingsFormModel = model;

    GenerateModulePreview();
  }

  private void GenerateModulePreview()
  {
    var dto = ModulePreviewModelMappings.Map(
      entitySingularName: EntitySingularName,
      entityPluralName: EntityPluralName,
      additionalSettings: AdditionalSettingsFormModel
    );

    ModulePreviewModel = ModulePreviewService.GenerateModulePreview(dto);
  }

}