@using MekToolsReduxComponents.Modules.Main.Models
<div class="grid grid-cols-2 gap-y-2">
  <SlideToggle Value="@Model.EnableUpsertDto" ValueChanged="@SetEnableUpsertDto" IsDisabled="false">
    Upsert Dto
  </SlideToggle>

  <SlideToggle Value="@Model.EnableRepository" ValueChanged="@SetEnableRepository" IsDisabled="false">
    Generate Repository
  </SlideToggle>

  <SlideToggle Value="@Model.EnableEntityConfiguration" ValueChanged="@SetEnableEntityConfiguration" IsDisabled="false">
    Entity Configuration
  </SlideToggle>

  <SlideToggle Value="@Model.EnableValidators" ValueChanged="@SetEnableValidators" IsDisabled="false">
    Generate Validators
  </SlideToggle>
</div>

@code {
  [Parameter] public AdditionalSettingsFormModel Model { get; set; } = null!;

  [Parameter] public EventCallback<AdditionalSettingsFormModel> OnAdditionalSettingsChange { get; set; }

  private void SetEnableUpsertDto(bool value)
  {
    Model.EnableUpsertDto = value;
    OnAdditionalSettingsChange.InvokeAsync(Model);
  }

  private void SetEnableRepository(bool value)
  {
    Model.EnableRepository = value;
    OnAdditionalSettingsChange.InvokeAsync(Model);
  }

  private void SetEnableEntityConfiguration(bool value)
  {
    Model.EnableEntityConfiguration = value;
    OnAdditionalSettingsChange.InvokeAsync(Model);
  }

  private void SetEnableValidators(bool value)
  {
    Model.EnableValidators = value;
    OnAdditionalSettingsChange.InvokeAsync(Model);
  }

}